<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create Account</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Create Account</h1>
<form>
<label for="accountNumber"> Account Number</label> 
<input type="text" id="accountNumber" name="accountNumber" required="required">
<label for="accountHolderName"> Account Holder Name</label> 
<input type="text" id="accountHolderName" name="accountHolderName" required="required">
<button type="submit"> Create Account</button>

</form>
</body>
</html>